.card-header {
  background-color: white;
  font-size: 40px;
}

.card-header:hover {
  background-color: #f4f3f1;
}

.card-header[aria-expanded="true"] {
  background-color: #F4F3F1;
}

.card-header[data-toggle="collapse"]:before {
  background-color: orange;
}

.header-left {
  text-align: right;
}

.card-title {
  font-size: 20px;
}

.card-body {
  background-color: #F4F3F1;
}

.center {
  /*padding: 70px 0;*/
  /*border: 3px solid green;*/
  /*text-align: center;*/
}

[data-toggle="collapse"]:before {
  color: black;
  background-color: transparent;
}

[data-toggle="collapse"].collapsed:before {
  color: black;
  background-color: #F4F3F1;
  /*padding-left: 50px;*/
}

.btn-link {
  text-decoration: none;
}

#inline-container {
  width:100%;
  text-align:center;
}

#inline-left {
  float:left;
}

#inline-right {
  float:right;
}

#inline-center {
  display: inline-block;
  margin:0 auto;
  width:100px;
  height: 20px;
  background: #00ff00;
}

.accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "-";
  float: right;
}
.accordion .card-header.collapsed:after {
  content: "+";
}



