.card-header {
  background-color: white;
  font-size: 40px;
}

.card-header:hover {
  background-color: #f4f3f1;
}

.card-header[aria-expanded="true"] {
  background-color: #F4F3F1;
}

.card-header[data-toggle="collapse"]:before {
  background-color: orange;
}

.card-title {
  font-size: 20px;
}

.card-body {
  background-color: #F4F3F1;
}

[data-toggle="collapse"]:before {
  color: black;
  background-color: transparent;
}

[data-toggle="collapse"].collapsed:before {
  color: black;
  background-color: #F4F3F1;
}

.btn-link {
  text-decoration: none;
}

.accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "-";
  float: right;
}
.accordion .card-header.collapsed:after {
  content: "+";
}



